body {
	margin: 0;
}

.container {
    white-space: nowrap;
    height: 32vh;
    overflow: scroll;
	margin-top: 1vh;
	margin-left: 1vh;
	margin-right: 1vh;
	overflow-x: hidden;
    overflow-y: hidden; 
}

#last {
	margin-bottom: 1vh;
}

.container::-webkit-scrollbar{
  display: none;
}

a {
	height: 100%;
	margin-right: 1vh;
}

#lst {
	margin-right: 0;
}

.photo {
    display: inline-block;
    height: 100%;
}